section {
	display: flex;
	margin:0 auto;
	font-size: 4rem;
	width: 100%;
	border: 1px solid red;
}

h1 {
	color: var(--secondary-clr);
	text-align: center;
}

a {
	color: var(--primary-clr);
}

section > div {
	margin: 0 auto;
	width: 70%;
	border: 1px solid blue;
}

.card {
	display: grid;
	grid-template-columns: 1fr 3fr;
	justify-content: center;
	background-color: var(--primary-clr);
	margin: 20px 0;
	border-radius: 25px;
	padding: 25px;
}

.title, .description {
	display: inline-block;
}

.description, .title {
	display: none;
}

.buttonText {
	font-size: 1.5rem;
	border-radius: 9999px;
	padding: 20px;
	border: none;
	background-color: #ffd014;
	margin: 10px  0 10px 20px;
	text-align: center;
	font-weight: 900;
}

.vector {
	background-color: #fff;
	color: var(--accent-1);
	display: grid;
	align-items: center;
	justify-items: center;
	border-radius: 50%;
	width: 100px;
	height: 100px;
}