section {
	display: flex;
	margin:0 auto;
	font-size: 4rem;
	width: 100%;
	border: 1px solid red;
}

h1 {
	color: var(--secondary-clr);
	text-align: center;
}

a {
	color: var(--primary-clr);
	grid-area: 1 / 2 / 1 / 3;
}

.card i {
	font-size: 1.6em;
}

section > div {
	margin: 0 auto;
	width: 100%;
	border: 1px solid blue;
}

.card {
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-template-rows: max-content;
	justify-content: center;
	background-color: var(--primary-clr);
	margin: 20px 0;
	border-radius: 25px;
	padding: 50px;
	align-items: center;
}

.description {
	font-size: .5em;
	text-align: center;
	color: #fff;
	grid-column-start: 1;
	grid-column-end: 3;
	padding: 20px 50px;
}

.title {
	display: none;
}

.buttonText {
	font-size: 2.5rem;
	border-radius: 9999px;
	padding: 50px 20px;
	border: none;
	background-color: #ffd014;
	margin: 10px 0 10px 20px;
	text-align: center;
	font-weight: 900;
}

.vector {
	background-color: #fff;
	color: var(--accent-1);
	display: grid;
	align-items: center;
	justify-items: center;
	justify-self: center;
	border-radius: 50%;
	width: 150px;
	height: 150px;
}